GridPane {

    /*-fx-grid-lines-visible: true;*/
    /*-fx-vgap: 10px;*/
    /*-fx-hgap: 10px;*/
}

GridCell {
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;

    -fx-background-color: white;

    -fx-pref-width: 30px;
    -fx-pref-height: 30px;

    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-color: black;
}

.alive {
    -fx-background-color: black;
}
